---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<APP_ID>&q=latacunga&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-78.61,"lat":-0.93},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":14.21,"pressure":1033,"humidity":66,"temp_min":12,"temp_max":16},"visibility":10000,"wind":{"speed":8.2,"deg":160},"clouds":{"all":75},"dt":1565201608,"sys":{"type":1,"id":8541,"message":0.0074,"country":"EC","sunrise":1565176673,"sunset":1565220157},"timezone":-18000,"id":3654870,"name":"Latacunga","cod":200}'
  recorded_at: Wed, 07 Aug 2019 18:13:28 GMT
recorded_with: VCR 5.0.0
