---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<APP_ID>&q=Latacunga&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-78.61,"lat":-0.93},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":17.28,"pressure":1031,"humidity":45,"temp_min":16.11,"temp_max":18},"visibility":10000,"wind":{"speed":9.8,"deg":170},"clouds":{"all":40},"dt":1565116652,"sys":{"type":1,"id":8541,"message":0.0092,"country":"EC","sunrise":1565090280,"sunset":1565133762},"timezone":-18000,"id":3654870,"name":"Latacunga","cod":200}'
  recorded_at: Tue, 06 Aug 2019 18:42:59 GMT
recorded_with: VCR 5.0.0
